<%-include("../partials/header")%>
<div class="container " style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Add new comment to <%= foundcamp.name%></h1>
        </div>
        <div  style="width: 30%;margin: 10px auto;">
            <form action="/campgrounds/<%=foundcamp._id%>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="author">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block">Submit!</button>
                </div>
                
            </form>
            <a href="/campgrounds/<%=foundcamp._id%>/comments">Go back...</a>
        </div>        
    </div>
</div>
<%-include("../partials/footer")%>