<%-include("partials/header.ejs")%>
<div class="container" style="margin-top: 80px;">
    <h1><%=foundcamp.name%></h1>
    <img class="img-fluid" src="<%=foundcamp.image%>" alt="camp img">
    <p><%=foundcamp.description%></p>
</div>

<%-include("partials/footer.ejs");%>
